
@import'./utils/fonts.scss';
@import'./utils/variables.scss';

@import'./base.scss';

@import'./utils/utils.scss';

@import'./components/buttons.scss';
@import'./components/links.scss';
@import'./components/header.scss';
@import'./components/hero-section.scss';
@import'./utils/mixins.scss';
 .section{
   padding: 48px 0;
 }
 .container{
   width: 100%;
   max-width: 1288px;
   margin: 0 auto;
   padding: 0 24px;
 }

 
     
     
    
    
     
     /*advantages-list*/
     .advantages-section{
      padding: 16px 0;
      background-color: var(--color-brend-normal);
     }
     .advantages-list{
      display: flex;
      justify-content: space-between;
      gap: 40px;
        background-color: var(--color-brend-normal);
     }
     .advantages-item{
      font-size: 20px;
      font-weight: 300px;
      color: var(--color-primary-light);
     }
     .section-title{
      font-size: 64px;
      font-weight: 900;
      line-height: 1.3;
     }
     .section-title.centered{
      text-align: center;
     }
     .section-title .accent{
        color: var(--color-brend-dark);
     }
     /*tradition-section*/
     .traditions-section{
      padding-top: 96px;
     }
     .traditions-container{
      display: flex;
      justify-content: space-between;
      gap: 40px;
     }
     .traditions-content{
      max-width: 710px;
     }
     .traditions-title{
      margin-bottom: 42px;
     }
     .traditions-text .brand{
         color: var(--color-brend-normal);
         font-weight: 600;
     }
     .traditions-text .uppercase{
      text-transform: uppercase;
     }
     .traditions-text.limited{
      max-width: 340px;
     }
     /*chefs-section*/
     .chefs-title{
      position: relative;
      margin:0 auto 80px;
     }
     .chefs-title::before,
     .chefs-title::after{
      display: block;
      width: 352px;
      border: 2px solid #cfcfbc;
      content: '';
     }
      .chefs-title::before{
         position: absolute;
         left: 0;
         bottom: 24px;
        }
       .chefs-title::after{
         position: absolute;
         right: 0;
         bottom: 24px;
       }
     .chefs-list{
      display: flex;
      gap: 40px 30px;
     }
     .chefs-item{
      flex: 1;
     }
     .chef-card{
      display: flex;
      gap: 30px;
     }
     .chef-foto{
      border-radius:4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
       -16px 16px 0 2px var(--color-secondary-dark);
     }
     .chef-title{
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 16px;
     }
     .chef-text p{
      margin-bottom: 24px;
     }
     .chef-text p:last-child{
      margin-bottom: 0;
     }
     /*format section*/
     .formats-container{
      display: flex;
      align-items: center;
      gap: 32px;
     }
     .formats-list{
      display: flex;
      gap: 20px;
     }
     .format-card{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 24px;
      height: 444px;
      background-image: linear-gradient(180deg,rgba(49,38,26,0) 55.21%,rgba(49,38,26,0.71) 72.92%,var(--color-primary-dark) 100%);
      border: 1px solid lightgrey;
      border-radius: 16px;
     }
     .format-card:hover{
      transform: scale(1.05);
     }
     .format-image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
     }
     .formats-title{
      margin-bottom: 80px;
     }
     .format-title{
      font-size: 24px;
      font-weight: 600;
      color: var(--color-primary-light);
     }
     .format-text{
      font-size: 14px;
      font-weight: 300;
      color: var(--color-primary-light);
     }
     /*carousel*/
     .carousel-button{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 44px;
      height: 44px;
      padding: 0;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--color-primary-dark);
      cursor: pointer;
      fill: var(--color-primary-dark);
     }
      .carousel-button:hover{
         background-color: var(--color-primary-dark);
         fill: var(--color-primary-light);
        }
      .carousel-button.next{
         transform: rotate(180deg);
      }
     /*contact section*/
     .contact-section{
      padding-bottom: 96px;
     }
     .contact-container{
      display: flex;
      gap: 32px ;
     }
     .contact-title{
      margin-bottom: 16px;
     }
     .contact-map{
      flex-shrink: 0;
      border-radius: 16px;
      border: none;
     }
     /*footer*/
     .footer{
      padding: 32px 0;
      position: relative;
         background-color: var(--color-primary-dark);
         background-image: url("../images/footer-background.png");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }
      .footer::before,
      .footer::after {
         position: absolute;
         bottom: 0;
         background-repeat: no-repeat;
         content: '';
      }
      .footer::before {
         background-image: url('../images/decor-bread-small.png');
         width: 180px;
         height: 120px;
         left: 0;
      }
      .footer::after {
         width: 380px;
         height: 190px;
         right: 0;
         background-image: url('../images/decor-bread-large.png');
      }
     .footer-container{
      display: flex;
      gap: 20px;
     }
     .footer-nav{
      display: flex;
      flex-basis: 50%;
      gap: 20px;
     }
     .footer-logo,
     .footer-menu{
      flex-grow: 1;
     }
     .address-list,
     .address-info{
      flex-grow: 1;
     }
     .footer-address{
      display: flex;
      flex-basis: 50%;
      gap: 20px;
     }
     .address-link{
      color: var(--color-primary-light);
      font-family: 16px;
      font-weight: 300;
      text-decoration: none;
     }
     .address-link:hover{
      color: var(--color-brend-normal)
     }
     .address-icon{
      fill: var(--color-primary-light);
     }
       .address-icon:hover{
         fill: var(--color-brend-normal);
       }
     .address-copyright{
      font-size: 14px;
     }
     /* Modal */
     .backdrop{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;;
      background-color:rgba(0, 0, 0, 0.5);
      padding: 20px 0;
      transition: opacity 0.3s, visibility 0.3s;
     }
     .modal{
      position: relative;
      width: 100%;
      max-width: 880px;
      height: 100%;
      max-height: 880px;
      padding: 128px;
      background-color: var(--color-primary-light);
      border-radius: 32px;
      overflow: auto;
  }
  .backdrop.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
  }
  .modal-btn-close{
   position: absolute;
   top: 40px;
   right: 40px;
  }
  /*form*/
  .form-field{
   margin-bottom: 32px;
  }
  .form-label{
   display: block;
  }
  .form-input{
   padding: 16px 42px;
   font-size: 16px;
   line-height: 1.17;
   width: 100%;
   border: 1px solid var(--color-secondary-dark);
   border-radius: 8px;
   background-color: transparent;
  }
  .form-input:focus{
   border-color: var(--color-brend-normal);
   outline: none;
  }
  .form-input:disabled{
   border-color: lightgrey;
  }
  .form-input:placeholder{
   color: var(--color-secondary-dark);
   font-size: 16px;
   line-height: 1.17;
  }
  .form-input:focus::placeholder{
   color: var(--color-primary-dark);
  }
  .form-button{
   display: block;
   margin: 0 auto 24px;
  }
  .form-terms{
   margin: 0 auto;
   max-width: 220px;
   font-weight: 500;
   font-size: 12px;
   line-height: 1.5;
   text-align: center;
  }
  .form-terms-link{
   color: var(--color-primary-dark);
   text-underline-offset: 2px;
  }
  /*
  .checkbox{
   position: relative;
  }
  .checkbox-input{
   appearance: none;
  }
   .checkbox-label{
      padding-left: 24px;
   }
  .checkbox-input:checked+.checkbox-label::before{
   background-color: green;
  }
  .checkbox-label::before{
   position: absolute;
   top: 0;
   left: 0;
   margin-top: 5px;
   width: 16px;
   height: 16px;
   border: 1px solid var(--color-primary-dark);
   border-radius: 2px;
   content: '';
  }
   */