@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/poppins-v24-latin-300.eot');
   src: url('../fonts/poppins-v24-latin-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins-v24-latin-300.woff2') format('woff'),
      url('../fonts/poppins-v24-latin-300.woff') format('woff'),
      url('../fonts/poppins-v24-latin-300.ttf') format('truetype'),
      url('../fonts/poppins-v24-latin-300.svg#Poppins') format('svg');
}
@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/poppins-v24-latin-regular.eot');
   src: url('../fonts/poppins-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/poppins-v24-latin-regular.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/poppins-v24-latin-regular.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/poppins-v24-latin-regular.svg#Poppins') format('svg');
   /* Legacy iOS */
}
@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/poppins-v24-latin-600.eot');
   /* IE9 Compat Modes */
   src: url('../fonts/poppins-v24-latin-600.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/poppins-v24-latin-600.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/poppins-v24-latin-600.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/poppins-v24-latin-600.svg#Poppins') format('svg');
   /* Legacy iOS */
}
@font-face {
   font-display: swap;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/poppins-v24-latin-900.eot');
   /* IE9 Compat Modes */
   src: url('../fonts/poppins-v24-latin-900.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/poppins-v24-latin-900.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/poppins-v24-latin-900.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/poppins-v24-latin-900.svg#Poppins') format('svg');
   /* Legacy iOS */
}