:root{
    --color-primary-dark:#31261a;
    --color-primary-light:#faf4ea;
    --color-brend-normal: #819b57;
    --color-brend-dark: #425929;
    --color-brend-light:#cfcfbc;
    --color-secondary-dark:#A28268;
 }